@model IEnumerable<InternetCoast.Model.Entities.Fund>

@{
    ViewBag.Title = "Competitive Programs";
}

<div class="row">
    <div class="col-lg-5">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>



<div class="panel panel-default">
    <!-- Default panel contents -->

    <div class="panel-heading">
        <h3 class="panel-title">Competitive Programs</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Competitive Event</th>
                <th>Topic</th>
                <th>Elegibility</th>
                <th>Total Awards($millions)</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var fund in Model)
                {
                    <tr>
                        <td><a href="@fund.Url">@fund.FundTitle</a></td>
                        <td>@fund.FundTopic</td>
                        <td>@fund.Elegibility</td>
                        <td>@fund.Remarks</td>
                        <td>@fund.DeadLine</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        <div class="alert alert-info" role="alert">No Competitive Programs found!</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
