@model InternetCoast.Web.Models.ViewModels.GrantsViewModels.HomeViewModel

@{
    IDictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "uploadForm");
    htmlAttributes.Add("enctype", "multipart/form-data");
}

@{
    ViewBag.Title = "State & Federal Grants";
}

<div class="row">
    <div class="col-lg-5">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>&nbsp;Process New File
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            @using (Html.BeginForm("UploadDocuments", "Grants", null, FormMethod.Post, htmlAttributes))
            {
                <div class="panel-body">
                    <div class="form-group">
                        <label>Funds Topic</label>
                        @Html.EditorFor(model => model.Fund.FundTopic, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fund.FundTopic, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <label class="btn btn-info">
                                        Browse <input type="file" style="display: none;" multiple name="files" id="files">
                                    </label>
                                    <button type="reset" class="btn btn-success" id="btnRefresh"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>
                                </div>
                                <input type="text" class="form-control" id="newDocuments" disabled>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-upload"></span>&nbsp;Upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
            State & Federal Grant Programs
        </h4>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Solicitation</th>
                <th>Title</th>
                <th>Topic</th>
                <th>Agency</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Funds.Any())
            {
                foreach (var fund in Model.Funds)
                {
                    <tr>
                        <td><a href="@fund.Url">@fund.Solicitation</a></td>
                        <td>@fund.FundTitle</td>
                        <td>@fund.FundTopic</td>
                        <td>@string.Join(", ", fund.Agencies.Select(a => a.Acronym ?? a.AgencyName))</td>
                        @if (fund.DeadLine.HasValue)
                        {
                            <td>@fund.DeadLine.Value.ToShortDateString()</td>
                        }
                        else
                        {
                            <td>NA</td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        <div class="alert alert-warning" role="alert">No records found!</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {

        $('button:submit').click(function () {
            event.preventDefault();

            if ($('#files').val() === "") { return; }

            $('form').submit();
        });

        $('#files').change(function () {
            var totalSize = 0;
            var names = [];
            $.each($(this).prop("files"), function (i, e) {
                var filename = e['name'];
                if (e['size'] < 5242880) {
                    names.push(filename);
                    totalSize = totalSize + e['size'];
                } else {
                    alert("File: " + filename + " size is to big. Only 4Mb per item or combined is allowed.");
                }
            });

            if (totalSize > 5242880) {
                $(this).val("");
                alert("Only 4Mb per item or combined is allowed.");
                return;
            }

            $('#newDocuments').val(names.toString());
        });

        @*$('.deleteFile').on('click', function () {

            var fileId = $(this).attr('data-fileId');
            var applicationId = $(this).attr('data-applicationId');
            var row = $(this).parents('li:first');

            bodyLoading();

            var ret = $.ajax({
                type: 'GET',
                url: "@Url.Action("DeleteDocument", "Admin")",
                data: { applicationId: applicationId, fileId: fileId },
                dataType: "json"
            });

            ret.done(function (success) {
                if (success) {
                    $(row).addClass("list-group-item-danger").fadeOut();
                }
            });

            ret.always(function () {
                bodyLoadingStop();
            });
        });*@
    });

    function bodyLoading() {
        $("body").addClass("loading");
    };

    function bodyLoadingStop() {
        $("body").removeClass("loading");
    };
</script>
